.main{
     border:solid 10px black;
    display:flex;
    justify-content: center;
    width: 475px;
    margin-left: 450px;
}
   
.dark{
    background-color: black;
    height: 60px;
    width: 60px;
}
.white{
    background-color: white;
    height:60px;
    width:60px;
}

   